pillow==9.5.0
py-tgcalls
dnspython
ffmpeg-python
python-arq~=6.0.7
pyrogram1==0.1.0
pyrogram==2.0.106
TgCrypto
yt-dlp>=2025.01.01
youtube-search
youtube-search-python
aiofiles
aiohttp
httpx[http2]==0.27.2
python-dotenv
speedtest-cli
spotipy
asyncio
TgCrypto
flask
ffprobe
requests


